<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tabutech.eddysap">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EddySap">
        <activity
            android:name=".View.Profile.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".View.Settings.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".View.auth.SetUserInfoActivity"
            android:exported="true" />
        <activity
            android:name=".View.auth.PhoneLoginActivity"
            android:exported="true" />
        <activity
            android:name=".View.starUp.WelcomeScreenActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:exported="true" />
    </application>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:ignore="ManifestOrder" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>